@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}


<div class="row">
    <div class="col-4 offset-4">
        <h1 class="display-4 border-bottom text-center pb-2">@ViewData["Title"]</h1>
    </div>
</div>

<div class="row">
    <div class="col-4 offset-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger small"></div>

            <div class="form-group mb-3">
                <label asp-for="Username" class="form-label">Username</label>
                <input asp-for="Username" class="form-control" placeholder="johndoe" />
                <span asp-validation-for="Username" class="text-danger small"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Password" class="form-label">Password</label>
                <input asp-for="Password" type="password" class="form-control" placeholder="P@ssW0rd!" />
                <span asp-validation-for="Password" class="text-danger small"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="RePassword" class="form-label">Re-Password</label>
                <input asp-for="RePassword" type="password" class="form-control" placeholder="P@ssW0rd!" />
                <span asp-validation-for="RePassword" class="text-danger small"></span>
            </div>
            
            <div class="form-group d-grid mb-3">
                <button type="submit" class="btn btn-primary d-block"><i class="fa-solid fa-paper-plane me-2"></i>Register</button>
            </div>
        </form>
    </div>
</div>