@model CreateUserModel

<div class="modal-header">
    <h1 class="modal-title fs-5">Create New User</h1>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <form id="frmAddNewUser" asp-action="AddNewUser" method="post"
          data-ajax="true" data-ajax-method="post" data-ajax-update="#modalAddContent">

        <div asp-validation-summary="ModelOnly" class="text-danger small"></div>

        <div class="form-group mb-3">
            <label asp-for="FullName" class="form-label">Full Name</label>
            <input asp-for="FullName" class="form-control" placeholder="john doe" />
            <span asp-validation-for="FullName" class="text-danger small"></span>
        </div>

        <div class="form-group mb-3">
            <label asp-for="Username" class="form-label">Username</label>
            <input asp-for="Username" class="form-control" placeholder="johndoe" />
            <span asp-validation-for="Username" class="text-danger small"></span>
        </div>

        <div class="form-group mb-3">
            <label asp-for="Password" class="form-label">Password</label>
            <input asp-for="Password" type="password" class="form-control" placeholder="P@ssW0rd!" />
            <span asp-validation-for="Password" class="text-danger small"></span>
        </div>

        <div class="form-group mb-3">
            <label asp-for="RePassword" class="form-label">Re-Password</label>
            <input asp-for="RePassword" type="password" class="form-control" placeholder="P@ssW0rd!" />
            <span asp-validation-for="RePassword" class="text-danger small"></span>
        </div>

        <div class="form-group mb-3">
            <label asp-for="Role" class="form-label">Role</label>
            <select asp-for="Role" class="form-select">
                <option value="">Please Select</option>
                <option value="admin">Admin</option>
                <option value="user">User</option>
            </select>
            <span asp-validation-for="Role" class="text-danger small"></span>
        </div>

        <div class="form-group mb-3">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" asp-for="Locked">
                <label class="form-check-label" asp-for="Locked">
                    Locked
                </label>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-primary btn-sm" form="frmAddNewUser"><i class="fa fa-save me-2"></i>Save</button>
</div>

@if (string.IsNullOrEmpty(Model.Done) == false)
{
    <script>
        $("#modalAdd").modal("hide");
        toastr.success('@Model.Done',"Success");
        refresh.click();
    </script>
}
